<h1>Sign In</h1>


<%= form_with url: sign_in_path do |form| %>

  <div class="mb-3">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control" %> 

    </div>
    <div class="mb3">

        <%= form.submit "Sign In", class: "btn btn-primary" %> 

    </div>   

<% end %>