

  <% if Current.user %>
    
 <div class="row">
      <div class="col-4">
        <%= render 'form' %>

      </div>

      <div class="col-8">
        <%= render 'feed' %>
      </div>



    </div>
  <% else %>
     <div class="col-12">
        <%= render 'feed' %>
      </div>
   
  <% end %>
  
  



